<%- include("include/header") -%>

    <div class="container w-50">
        <h1>받은파일이름 : <%=o_name%>
        </h1>
        <h1>변경파일이름 : <%=c_name%>
        </h1>
        <h1>파일사이즈 : <%=size%>
        </h1>
        <div class="d-grid gap-2">
            <a href="/" class="btn btn-primary">돌아가기</a>
        </div>
    </div>
    
<%- include("include/footer") -%>