<%- include("../include/header") -%>
    <div class="container">
        <h3>게시판리스트</h3>
        <table class="table table-border text-center">
            <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">글쓴이</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성일</th>
                </tr>
            </thead>
            <tbody>
                <% 
                console.log(rows);
                if(rows.length==0){ %>
                <td colspan="4">게시글이 없습니다.</td>
                <% 
                } %>
                <% 
                for(var i=0;i<rows.length;i++){ 
                    var result=rows[i]; %>
                    <tr>
                        <% 
                        if(result.del_yn=="Y" ){ %>
                            <td colspan="4">삭제된 게시글입니다.</td>
                        <% 
                        }
                        else{ %>
                            <td><%=i+1%></td>
                            <td><%=result.writer%></td>
                            <td class="w-50"><a class="text-decoration-none" href="/board/view/<%=result.idx%>"><%=result.title %> 
                            <td><%=result.date%></td>
                    </tr>
                    <% } } %>
            </tbody>
        </table>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/board/write" class="btn btn-primary">글쓰기</a>
        </div>
    </div>
<%- include("../include/footer") -%>