<%- include("../include/header") -%>
    <div>
        <h1>글 수정하기</h1>
        <form action="/board/modify/<%= target.idx%>/ok" method="post">
            <table>
                <tr>
                    <td>글쓴이</td>
                    <td>비밀번호</td>
                </tr>
                <tr>
                    <td><input name="writer" value=<%= target.writer %>></td>
                    <td><input name="password" value=<%= target.password %>></td>
                </tr>
                <tr>
                    <td>제목</td>
                </tr>
                <tr>
                    <td colspan="2"><input name="title" value=<%= target.title %>></td>
                </tr>
                <tr>
                    <td>내용</td>
                </tr>
                <tr>
                    <td colspan="2"><input name="content" value=<%= target.content %>></td>
                </tr>
                <tr>
                    <td><input type="submit" class="btn btn-primary" value="작성하기"></td>
                </tr>
                
            </table>
        </form>
    </div>
<%- include("../include/footer") -%>